fastapi
uvicorn[standard]
python-multipart
python-dotenv
pypdf
pydantic[email]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
langchain-core
langchain-google-genai
langchain-groq
langchain-tavily
